<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
        
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.9.96/css/materialdesignicons.min.css">
    <script defer src="https://use.fontawesome.com/releases/v6.2.0/js/all.js"></script>

    <script src="{{ url_for('static', filename='js/mypage.js') }}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/mypage.css')}}" />

    {% if title %}
    <title>{{ title }}</title>
    {% endif %}

</head>

<body>
    <!-- 회원가입 fail 일때 -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
                alert("{{messages[-1]}}")
            </script>
        {% endif %}
    {% endwith %}

    <div class="container">

        <div class="columns is-mobile custom-title">
            <div class="column is-three-fifths is-offset-one-fifth">
                <div class="mt-5 has-text-centered">
                    <h1 class="title is-3">회원정보</h1>
                </div>
            
                <div class="columns is-centered custom-contents">
                    <div class="column is-half">

                        <div class="mt-5">

                            <div class="field">
                                <p class="control has-icons-left has-icons-right">
                        
                                    <input class="input" type="text" placeholder="아이디" name="id" disabled value="{{member['id']}}"
                                    id="id_input">
                    
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-id-badge"></i>
                                    </span>
                                    <span class="icon is-small is-right">
                                        <i class="fas fa-check"></i>
                                    </span>
                                </p>
                            </div>


                            <div class="field">
                                <p class="control has-icons-left has-icons-right">
                                    <input class="input" type="text" placeholder="이름" name="name" disabled value="{{member['name']}}">
                                    <span class="icon is-small is-left">
                                        <i class="fa-solid fa-signature"></i>
                                    </span>
                                    <span class="icon is-small is-right">
                                        <i class="fas fa-check"></i>
                                    </span>
                                </p>
                            </div>

                            <div class="field">
                                <p class="control has-icons-left has-icons-right">
                                    <input class="input" type="number" placeholder="호수" name="roomNumber" value="{{member['roomNumber']}}" id="roomNumber_input">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-person-shelter"></i>
                                    </span>
                                    <span class="icon is-small is-right">
                                        <i class="fas fa-check"></i>
                                    </span>
                                </p>
                            </div>

                            <div class="field">
                                <p class="control has-icons-left has-icons-right">
                                    <input class="input" type="number" placeholder="휴대폰 번호 ex)01011112222" name="phoneNumber" value="{{member['phoneNumber']}}"
                                    id="phoneNumber_input">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-mobile"></i>
                                    </span>
                                    <span class="icon is-small is-right">
                                        <i class="fas fa-check"></i>
                                    </span>
                                </p>
                            </div>

                            <div class="is-flex mt-5">
                                    <button type="button" class="is-flex-grow-1 button is-link mr-1" id="modify_btn">수정</button>
                                    <button type="button" class="is-flex-grow-1 button is-danger ml-1" id="delete_btn">회원 탈퇴</button>
                            </div>
                            <div class="is-flex mt-1">
                                <button type="button" class="is-flex-grow-1 button is-link" onclick="history.back();">되돌아가기</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div> <!-- container end-->
</body>

</html>