<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/reservation.css')}}" />
    <script src="{{ url_for('static', filename='js/reservation.js') }}"></script>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

    {% if title %}
    <title>{{ title }}</title>
    {% endif %}
</head>

<body>
    <!-- 예약 fail 일때 -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <script>
        alert("{{messages[-1]}}")
    </script>
    {% endif %}
    {% endwith %}

    <div class="container">
        <div class="columns">
            <div class="column is-10 is-offset-1">
                <div class="is-flex mt-5">
                    <div class="has-text-centered is-flex-grow-1 is-vcentered">
                        <h1 class="title is-3">세탁자리구함 </h1>
                    </div>

                    <div class="buttons ">
                        <button class="button is-link" onclick="location.href='/mypage'">마이페이지</button>
                        <button class="button is-danger" id="logout_btn">로그아웃</button>
                    </div>
                </div>
            </div>
        </div>

        <form id="reservationForm" action="/reservation" method="POST">
            <div class="is-flex is-justify-content-center mt-10">
                <div class="is-flex">
                    <span for="select_date" class="mr-2">날짜 :</span>
                    <input class="mr-2" type="date" id="datePicker" name="laundry_date" value="2022-09-22" min="2022-09-22"
                        max="2023-03-31">
                </div>
                <div class="is-flex">
                    <span class="mr-2" for="from" id="time">시간 : </span>
                    <select id="timePicker" class="mr-5" name="laundry_time">
                        <option value="1" selected disabled>시간선택후 조회해보세요</option>
                        <option value="2">00:00 ~ 02:00</option>
                        <option value="4">02:00 ~ 04:00</option>
                        <option value="6">04:00 ~ 06:00</option>
                        <option value="8">06:00 ~ 08:00</option>
                        <option value="10">08:00 ~ 10:00</option>
                        <option value="12">10:00 ~ 12:00</option>
                        <option value="14">12:00 ~ 14:00</option>
                        <option value="16">14:00 ~ 16:00</option>
                        <option value="18">16:00 ~ 18:00</option>
                        <option value="20">18:00 ~ 20:00</option>
                        <option value="22">20:00 ~ 22:00</option>
                        <option value="24">22:00 ~ 24:00</option>
                    </select>
                </div>
                <div class="buttons">
                    <button id="search_reservation_btn" type="button" class="button is-link">조회하기</button>
                    <button id="reservation_btn" type="button" class="button is-link">예약하기</button>
                </div>

            </div>

            <div class="columns mt-10">

                <div class="control div-hide">
                    <label class="radio">
                      <input type="radio" name="washer" value=1 id="first_r">
                    </label>
                    <label class="radio">
                      <input type="radio" name="washer" value=2 id="second_r">
                    </label>
                    <label class="radio">
                      <input type="radio" name="washer" value=3 id="third_r">
                    </label>
                  </div>

                <div class="column">
                    <div class="custom-img-div is-flex is-justify-content-center" id="first_w" >
                        <div class="custom-machine" ><img class=""
                                src="{{ url_for('static', filename='img/washing.svg') }}" alt="washing machine"
                                height="auto" width="200"></div>
                        <div class="custom-x"><img id="first_x" class="img-hide" src="{{ url_for('static', filename='img/x.svg') }}" alt="x"
                                height="auto" width="200"></div>
                        <div class="custom-check"><img id="first_check" class="img-hide" src="{{ url_for('static', filename='img/check.svg') }}"
                                alt="check" height="auto" width="200"></div>
                    </div>
                </div>

                <div class="column ">
                    <div class="custom-img-div is-flex is-justify-content-center" id="second_w">
                        <div class="custom-machine"><img class=""
                                src="{{ url_for('static', filename='img/washing.svg') }}" alt="washing machine"
                                height="auto" width="200"></div>
                        <div class="custom-x"><img id="second_x" class="img-hide" src="{{ url_for('static', filename='img/x.svg') }}" alt="x"
                                height="auto" width="200"></div>
                        <div class="custom-check" ><img id="second_check" class="img-hide" src="{{ url_for('static', filename='img/check.svg') }}"
                                alt="check" height="auto" width="200"></div>
                    </div>
                </div>

                <div class="column">
                    <div class="custom-img-div is-flex is-justify-content-center"id="third_w" >
                        <div class="custom-machine"><img class=""
                                src="{{ url_for('static', filename='img/washing.svg') }}" alt="washing machine"
                                height="auto" width="200"></div>
                        <div class="custom-x"><img id="third_x" class="img-hide" src="{{ url_for('static', filename='img/x.svg') }}" alt="x"
                                height="auto" width="200"></div>
                        <div class="custom-check" ><img id="third_check" class="img-hide" src="{{ url_for('static', filename='img/check.svg') }}"
                                alt="check" height="auto" width="200"></div>
                    </div>
                </div>

            </div>

        </form>

    </div> <!-- container end-->
</body>

</html>